.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  background-color: rgba(9, 9, 8, 0.59);
  color: aliceblue;
  margin: 130px auto;
}

.input-title-container {
  padding: 0 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.input-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.input {
  all: unset;
  width: 90%;
  height: 30px;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 20px;
  margin: 60px auto;
}
