.layout-container {
  flex: 1;
  height: 100vh;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.appname-container {
  justify-self: end;
  position: absolute;
  left: 10px;
}
.appname {
  color: rgb(20, 13, 50);
  font-size: 40px;
  font-weight: 600;
}

.logo-container {
  display: flex;
}

.logo {
  height: 7rem;
  width: 8rem;
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  color: aliceblue;
}
